{% extends "base.html" %}
{% block title %}Contact us page{% endblock %}

{% block content %}
<style>
 ::placeholder {
  font-size:20px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size:15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size:20px;
}

 #corner1 {
  border-radius: 10px;
  padding:20px;
  border: 2px solid DarkGrey
}

 #corner2 {
  border-radius: 10px;
  padding:20px;
  border: 2px solid DarkGrey
}

 #corner3 {
  border-radius: 10px;
  padding:20px;
  border: 2px solid DarkGrey
}

</style>

<h1 class="display-4" align="center">Contact us</h1>
<br>
<div>

<div align="center" style="font-size:20px;">
<input type="email" name="" id="corner1" placeholder="Example@mail.com" style="width:500px"><br>
</div>
<br>
<br>
<div align="center" style="font-size:20px;" >
<select style="width:500px;font-size:20px" id="corner2" >
    <option value="" disabled selected><span id="option1" >Select purpose</span></option>
    <option value="General Enquiry">General Enquiry</option>
    <option value="Feedback">Feedback</option>
    <option value="Others">Others</option>
</select>
</div>
<br>
<br>
<div align="center" style="font-size:20px;" >
    <textarea cols='30' rows='4' placeholder="Enter your message here" style="width:500px" id="corner3" ></textarea>
</div>

<br>
<br>
<div align="center">
<input type="submit" value="Submit" style="width:500px; height:50px;background-color:#527fef;font-weight:bold;color:white">
</div>

</div>
{% endblock %}
