{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Events{% endblock %}

{% block style %}
    <style>
         div {color: red;}
    </style>
{% endblock %}

{% block content %}
<h1 class="display-4">Events</h1>
    {% for event in eventsList %}
        <div class="box" style="color:red; border: solid green 1px;">
            <div>
            {{ event.get_eventID() }}
            </div>
            <div>
            {{ event.get_eventName() }}
            </div>
            <div>
            {{ event.get_date() }}
            </div>
            <div>
            {{ event.get_details() }}
            </div>
            <div>
            {{ event.get_requirements() }}
            </div>
            <div>
            {{ event.get_remarks() }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

