{% extends "base_admin.html" %}
{% block title %}Home Admin page{% endblock %}

{% block content %}
<img style="float:right;" width="20px" height="20px" src="/static/img/setting_icon.png"><p style="float:right;">Edit images</p>
<div style="border-style:solid;border-width:1px;width:1400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:center;display:inline-block;">
    <img style="float:left; margin-top:120px;" width="40px" height="40px" src="/static/img/left.jpg"><img style="float:right; margin-top:125px;" width="40px" height="40px" src="/static/img/right.jpg">
    <strong style=" font-size:3em;"></strong>
</div>

<div style="margin:auto;text-align:center;">
<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<strong style=" font-size:3em; ">Promotion item</strong>
</div>
<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<strong style=" font-size:3em;">Trending item</strong>
</div>
<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<strong style=" font-size:3em;">Special Offers</strong>
</div>
</div>

{% endblock %}
