{% extends "base2.html" %}
{% block title %}Contact us page{% endblock %}

{% block content %}
<h1 class="display-4" style="text-align:center;margin-top:40px;">Thank you for shopping with us</h1>
<div style="text-align:center;border-style:solid;border-width:1px;margin:auto;width:50%;margin-top:40px;border-radius:25px;margin-bottom:200px;padding:40px 0 40px 0;">
    <h2>Receipt</h2>
    <h2>Order number: #R000006</h2>
    <table style="text-align:center;margin:auto;border-width:1px;margin-top:30px;">
        <tr>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center; ">Item</th>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center;">Quantity</th>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center;">Price</th>
        </tr>
        <tr style="border-top:1px solid">
            <td style="padding:5px;margin:auto;text-align:center;"><img src="/static/img/ronion.jpg" alt="red onion" height="40px" width="40px" style="padding-right:5px;">Red Onion</td>
            <td style="padding:5px;margin:auto;text-align:center;">1000g</td>
            <td style="padding:5px;margin:auto;text-align:center;">$3.00</td>
        </tr>
        <tr style="border-top:1px solid">
            <td style="padding:5px;margin:auto;text-align:center;"><img src="/static/img/carrot.jpg" alt="carrot" height="50px" width="50px" style="padding-right:5px;"> Carrot</td>
            <td style="padding:5px;margin:auto;text-align:center;">800g</td>
            <td style="padding:5px;margin:auto;text-align:center;">$4.00</td>
        </tr>
        <tr style="border-top:1px solid">
            <td style="padding:5px;margin:auto;text-align:center;"><img src="/static/img/cucumber.jpg" alt="cucumber" height="40px" width="40px" style="padding-right:5px;"> Cucumber</td>
            <td style="padding:5px;margin:auto;text-align:center;">1000g</td>
            <td style="padding:5px;margin:auto;text-align:center;">$7.20</td>
        </tr>
    </table>
    <h4 style="margin-top:30px;">Total price: $14.20</h4>
</div>
{% endblock %}

