{% extends "base_admin.html" %}
{% block title %}after_edit_images{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div>
    <h1 style="padding-left:20px">Carousel images:</h1>
</div>

<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<img style="float:right;" width="50px" height="50px" src="/static/img/setting_icon.png"><strong style=" font-size:3em;">Image 1</strong>
</div>
<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<img style="float:right;" width="50px" height="50px" src="/static/img/setting_icon.png"><strong style=" font-size:3em;">Image 2</strong>
</div>
<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<strong style=" font-size:3em;"></strong><img style="text-align:center;" width="50px" height="50px" src="/static/img/plus.png">
</div>



<div style=" display:inline-block">
    <h1 style="padding-left:20px">Promotional items:</h1>
    <div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
    <img style="float:right;" width="50px" height="50px" src="/static/img/setting_icon.png"><strong style=" font-size:3em;">image</strong>
    </div>
</div>



<div style=" display:inline-block">
    <h1 style="padding-left:20px">Fruits:</h1>
    <div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
    <img style="float:right;" width="50px" height="50px" src="/static/img/setting_icon.png"><strong style=" font-size:3em;">image</strong>
    </div>
</div>

<div style=" display:inline-block">
<h1 style="padding-left:20px">Vegetables:</h1>
<div style="border-style:solid;border-width:1px;width:400px;height:300px; margin-top:25px; margin-left:25px; margin-right:25px; padding:auto; text-align:left;display:inline-block;">
<img style="float:right;" width="50px" height="50px" src="/static/img/setting_icon.png"><strong style=" font-size:3em;">image</strong>
</div>
</div>

{% endblock %}
