{% extends "base2.html" %}
{% block title %}Cart page{% endblock %}

{% block content %}


<div style="margin-left:25%;margin-right:5%; margin-top:5%; padding-right:0;">
    <h1 class="display-4" style="padding-right:0">Cart</h1>

    <div style="border-style:solid;border-width:1px;display:inline-block;border-radius:10px;float:right;margin-right:15%;text-align:center;">
        <h2>Summary</h2>
        <ul style="text-align:left ; padding-right:40px;padding-bottom:5%; ">
        {% for cartt in cartList %}
            <li style="margin-top:7px;">{{ cartt.get_name() }} - ${{ cartt.get_cost() }}</li>
        {% endfor %}
        </ul>
        <h5>Total cost = ${{totalcost}}</h5>
        <a class="nav-link" style=" broder-radius:10px;width:90%;margin:auto;margin-bottom:5px;background-color:#527FEF;color:white;padding:2px;text-align:center;" href="/payment">Proceed to payment</a>
    </div>

    <table style="border-width:1px;display:inline-block;float:left;margin-left:0">
        <tr >
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center; ">Item</th>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center;">Quantity</th>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center;">Price</th>
            <th style=" padding-left:50px;padding-right:50px;margin:auto;text-align: center;"></th>
        </tr>
    {% for cartt in cartList %}
        <tr style="border-top:1px solid">
            <td style="padding:5px;margin:auto;text-align:center;"><img src="data:image/png;base64,{{ cartt.get_image() }}" height="120px" width="120px" style="padding-right:5px;">  {{ cartt.get_name() }}</td>
            <td style="padding:5px;margin:auto;text-align:center;"><a href="/minusItem/{{cartt.get_itemId()}}" >-</a> <div style="border-style:solid;border-width:1px;width:70px; display:inline-block">{{ cartt.get_quantity() }} {% if cartt.get_uType() == 'g' or cartt.get_uType() == 'kg' %} {{ cartt.get_uType() }} {% endif %}</div><a href="/plusItem/{{cartt.get_itemId()}}" >+</a></td>
            <td style="padding:5px;margin:auto;text-align:center;">${{ cartt.get_cost() }}</td>
            <td style="padding:5px;margin:auto;text-align:center;color:red;">
                <form action="{{url_for('deleteItem', id=cartt.get_itemId())}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>



</div>
{% endblock %}

