{% extends "base2.html" %}
{% block title %}Contact us page{% endblock %}

{% block content %}
<h1 class="display-4" style="text-align:center;margin-top:40px;">Thank you for shopping with us</h1>
<div style="text-align:center;border-style:solid;border-width:1px;margin:auto;width:50%;margin-top:40px;border-radius:25px;margin-bottom:200px;padding:40px 0 0px 0;">
    <h2>Receipt</h2>
    <h2>Order number : #{{ orderNo }}</h2>
    <table style="text-align:center;margin:auto;border-width:1px;margin-top:30px;">
        <tr>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center; ">Item</th>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center;">Quantity</th>
            <th style="padding-left:50px;padding-right:50px;margin:auto;text-align: center;">Price</th>
        </tr>
    {% for cart in cartList %}
        <tr style="border-top:1px solid">
            <td style="padding:5px;margin:auto;text-align:center;"><img src="data:image/png;base64,{{ cart.get_image() }}" height="120px" width="120px" style="padding-right:5px;"> {{cart.get_name()}}</td>
            <td style="padding:5px;margin:auto;text-align:center;"><div style="border-style:solid;border-width:1px;width:70px; display:inline-block">{{ cart.get_quantity() }}</div></td>
            <td style="padding:5px;margin:auto;text-align:center;">{{ cart.get_cost() }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="container" style="margin:0;width:auto;padding:0;">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="margin-bottom:25px;">View Details</button>
      <div id="demo" class="collapse" style="border-style:solid;border-bottom-style:none;border-left-style:none;border-right-style:none;border-width:1px;padding-bottom:20px;">
        <h4 style="margin-top:10px;">Name: {{ cartDict[1].get_name() }}</h4>
        <h4 style="margin-top:10px;">Address: {{ cartDict[1].get_address() }}</h4>
        <h4 style="margin-top:10px;">Zip: {{ cartDict[1].get_zip() }}</h4>
        <h4 style="margin-top:10px;">Total price: ${{ cartDict[1].get_totalpaid() }}</h4>
        <h4 style="margin-top:10px;">Order date: {{ cartDict[1].get_date() }}</h4>
      </div>
    </div>

</div>
{% endblock %}

