{% extends "base2.html" %}
{% block title %}Claim your daily prize!!{% endblock %}

{% block content %}
<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "CLAIMED!";
  document.getElementById("demo").style.backgroundColor = "Tomato"
  document.getElementById("prize").innerHTML = "$2 voucher"
}

</script>
<style>
p.box1{
  display:inline;
}

</style>


<h2 class="display-4" align="center">Claim your daily gift!</h2>
<img src="/static/img/gift.png" width=480 height=300 style="margin-left:480px">

<p id="demo" style="font-size:35px;text-align:center;background-color:Gold; color:black;margin-left:450px; margin-right:450px" onclick="myFunction()">Claim</p>

<br>
<br>
<p id="prize" style="border-style:groove; text-align:center; font-size:30px; padding:10px; padding-bottom:60px ; margin-left:450px; margin-right:450px">Your prize</p>

<br>
<p  style="border-style:groove; text-align:center; font-size:20px; padding:10px; padding-bottom:80px ; margin-left:450px; margin-right:450px">Message of the day: </p>


{% endblock %}
